{% extends 'Base.html' %}
{% load static %}
{% block content %}

<div class="col-md-8">
	<div class="section-title dgreen-border" style="margin-top:30px;">
		<h2>मध्यप्रदेश</h2>
	</div>
	<div class="row">
		<div class="cp-news-grid-style-6">
			<ul class="grid">
				<li class="col-md-6 col-sm-6 col-xs-12">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/D-18.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>स्क्रेनिंग की आड़ ले दिल्ली शिफ्ट हुई कांग्रेस</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle5.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>लक्ष्मीकान्त शर्मा भाजपा से ही लड़ेंगे चुनाव</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle6.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>उमा, प्रहलाद और विजयवर्गीय को चुनाव जिताने की जिम्मेदारी दी, संघ</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle7.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>साफ्ट हिन्दूत्व वाली कांग्रेस में दिग्गी का स्थान कहां पर</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle8.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>आम आदमी की खुशहाली पहली प्राथमिकता : जनसम्पर्क मंत्री</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle9.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>मिल बांचे कार्यक्रम में मुख्यमंत्री ने कहा- हमने शिक्षा को जनआंदोलन</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle10.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>भीडफ़ोबिया अडंगा है कमलनाथ की सभाओं में</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle11.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>तीन बड़े सवालों पर ओपी रावत का बेबाक जवाब</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle8.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>चुनावी पर्यटन कर रहे हैं राहुल, नाथ व सिंधिया : डा.</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle4.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>हमने बदहाल प्रदेश को खुशहाल बनाया है : मुख्यमंत्री श्री चौहान</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle5.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>मुसलाधार बारिश से जलमग्न हुए कई क्षेत्र - नदी नाले उफान</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle3.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>शोभा इसलिए नाराज है सलूजा से क्यों बंटवाये मोबाइल</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle8.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>पत्रकारों ने कम भीड को दिखाया तो वर्मा-राजानी ने कैमरे छीने</h3>
							</div>
						</div>
					</a>
				</li>
				<li class="col-md-6 col-sm-6">
					<a href="single-post.html">
						<div class="cp-post">
							<div class="cp-thumbc"><img alt="" src="{% static 'images/lifestyle4.jpg' %}" class="cp-thumbc"></div>
							<div class="cp-post-content">
								<h3>बावरिया से बदसलूकी के पीछे अखिर है कौन?</h3>
							</div>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</div> 
	<div class="pagination-holder">
		<nav>
			<ul class="pagination">
				<li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li> <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
			</ul>
		</nav>
	</div>
	<div class="clearfix"></div>
	
	
	{% comment %} <div class="col-md-8">
		<div class="cp-advertisement" style="padding-bottom: 20px; padding-top: 20px;">
			{% for a in add %}
            {% if a.ctg == 'Footer' %}
			<img src="{{a.image.url}}" alt="">
			{% endif %}
               {% endfor %}
		</div>
	</div>   {% endcomment %}
</div>  	
{% endblock content %}